.form__control {
  position: absolute;
  height: 40%;
  width: 90%;
  top: 20%;
}

.form__controls,
.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  margin-top: 1.5em;
}

.form__input {
  border: 1px solid var(--cool-gray);
  border-radius: var(--border-radius-accent);
  padding: 0.7em;
}

.form__label {
  font-size: 14px;
}

.form__error {
  color: var(--strawberry-red);
  font-size: 14px;
  font-weight:600;
  align-self: flex-end;
  margin-top: .5rem;
}
