.form__control {
  margin-top: 2em;
}

.form__controls {
  border: 1px solid var(--cool-gray);
  border-radius: var(--border-radius-accent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.7em;
  margin-bottom: 1em;
}

.form__text {
  display: flex;
  flex-direction: column;
}
